@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
html,
body {
  font-family: Lora, sans-serif !important;
}
.modalAdd_container {
  width: 100%;
}
.modalAdd_container .MuiTextField-root {
  font-size: 12px;
}
.modalAdd_container .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 900px !important;
}
