.banner{
    position: relative;
    padding-top: 7rem;
    width: auto;
    height:45rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 0rem;
}
.banner-wrapper{    
    position: relative; 
    width: auto; 
    height: 100%; 
    
}

.slider-wrapper{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100%; 

}
.slider-img-wrapper{
    width:auto;
    height:30rem;
    overflow-y: hidden;
}
.slider-img{
    width: auto;
   height: 100%;
}
